@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  margin: 0;
  display: flex;
  place-items: center;
}

@layer base {
  html body {
    background: #f5f7ff;
    color: #1e293b;
  }
  html.dark body {
    background: #040d19;
    color: #f5f7ff;
  }

  html.dark .card {
    background: #071426;
  }
  .negative-percentage {
    @apply text-red-700 dark:text-red-500;
  }
  .positive-percentage {
    @apply text-green-700 dark:text-green-500;
  }
  .neutral-percentage {
    @apply text-gray-700 dark:text-gray-500;
  }

  .custom-datatable {
    @apply w-full rounded-lg dark:bg-transparent bg-transparent min-w-[50rem] overflow-hidden !important;
  }

  .custom-datatable-row,
  .custom-datatable tr,
  .custom-datatable-header {
    @apply bg-transparent dark:bg-transparent p-4 !important;
  }
  .text-contrast {
    @apply text-white dark:text-gray-800;
  }
  a {
    font-weight: 500;
    text-decoration: inherit;
  }
}
